<div class="container my-5">
    <i class="fas fa-tools icono-animado"></i>
    <h1>Estamos trabajando en ello...</h1>
    <p>Esta página estará disponible pronto. ¡Gracias por tu paciencia!</p>
  
    <!-- Barra de progreso animada -->
    <div class="progress-bar">
      <div class="progress-bar-inner"></div>
    </div>
  
    <!-- Contador regresivo opcional -->
    <p id="countdown" class="mt-4">{{ countdownMessage || 'Cargando...' }}</p>
  
    <!-- Botón para volver al inicio -->
    <a routerLink="/" class="btn-home">Volver al Inicio</a>
    

  </div>
  