.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  z-index: 1050; 
  position: relative;
  color: #000000 !important; ;

  .nav-link {
    color: #000000;

    &:hover {
      color: #007bff;
    }
  }

  .navbar-brand .nav-link.active{
    color: #007bff;
    font-weight: bold;
  }
}

.popup {
  position: fixed;
  top: 80px;
  right: 20px;
  z-index: 1050;
  animation: fadeIn 0.5s ease-in-out, fadeOut 0.5s ease-in-out 4.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
