.card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .btn-primary {
    background-color: #002884;
    border-color: #002884;
  
    &:hover {
      background-color: #001a5b;
      border-color: #001a5b;
    }
  }
  
  .btn-danger {
    background-color: #f44336;
    border-color: #f44336;
  
    &:hover {
      background-color: #c62828;
      border-color: #c62828;
    }
  }
  